/* style.css */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* set public/bg.jpg as the back ground image and decrease opacity of the containers */

* {
  box-sizing: border-box;
}

body {
  font-family: 'Poppins';
  line-height: 1.6;
  color: #333;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  background-image: url('public/bg.svg');
  background-size: cover;
  background-repeat:no-repeat;
  background-attachment: fixed;
  opacity: 0.75;
}


.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
  padding: 20px;
}

h1,
h2 {
  color: #ffffff;
  background-color:#1aa4ca ;
  
}

h1 {
  text-align: center;
  margin-bottom: 30px;
}

.budget-highlights table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.budget-highlights th,
.budget-highlights td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: left;
  font-family: 'Poppins';
  font-weight: 600;
}

.budget-highlights th {
  background-color: #3498db;
  color: white;
}

.key-schemes ul {
  list-style-type: disc;
  padding-left: 20px;
  color: #fff;
}

.budget-image {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 20px auto;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}

.feedback-form {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="tel"],
select,
textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

.radio-group {
  display: flex;
  align-items: center;
}

.radio-group input[type="radio"] {
  margin-right: 5px;
}

.radio-group label {
  margin-right: 15px;
  font-weight: normal;
}

textarea {
  height: 100px;
}

button {
  background-color: #3498db;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 10px;
}

button[type="reset"] {
  background-color: #e74c3c;
}

button:hover {
  opacity: 0.8;
}

a {
  color: #3498db;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#para{
  color:white;
}